:root {
  --clr-primary: #000000;
  --clr-bg: #ffffff;
  --ff-text: 'Gentium Book Basic', serif;
  --ff-heading: 'IBM Plex Mono', monospace;
  --fs-title-bg: 2rem;
  --fs-heading-bg: 1.7rem;
  --fs-text-bg: 1.3rem;
  --fs-title-sm: 1.8rem;
  --fs-heading-sm: 1.4rem;
  --fs-text-sm: 1.125rem;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  line-height: 1.6;
  font-family: var(--ff-text);
  font-size: var(--fs-text-bg);
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

a {
  color: var(--clr-primary);
}

a:link {
  text-decoration: none;
}

a[target="_blank"] {
  cursor: ne-resize;
}

h1 {
  font-family: var(--ff-heading);
  font-size: var(--fs-title-bg);
}

h2,
span {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading-bg);
}

p {
  margin: 0;
  padding: 0;
}

/* Navigation */
.navbar {
  position: fixed;
  top: 25%;
  right: 30px;
  transform: translateY(-50%);
  z-index: 10;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  width: 200px;
  position: relative;
  text-align: right;
}

.navbar ul li .dot {
  color: var(--clr-bg);
  display: block;
  padding: 5px 0;
}

.navbar ul li .dot span {
  font-size: var(--fs-text-bg);
  display: inline-block;
  background: var(--clr-primary);
  letter-spacing: 1px;
  padding: 10px 25px;
  margin-right: 50px;
  border-radius: 3px;
  transform: translateX(30px);
  opacity: 0;
}

.navbar ul li:hover .dot span {
  transform: translateX(0);
  opacity: 1;
}

.navbar ul li .dot span::before {
  content: '';
  position: absolute;
  top: 30%;
  right: 0;
  transform: translate(7px, -50%);
  border-left: 7px solid var(--clr-primary);
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  display: block;
}

.navbar ul li .dot::before,
.navbar ul li .dot::after {
  content: '';
  position: absolute;
  top: 30%;
  border-radius: 50%;
  display: block;
  transition: 200ms ease-out;
}

.navbar ul li .dot::before {
  height: 5px;
  width: 5px;
  border: 2px solid var(--clr-primary);
  right: 30px;
  transform: translateY(-50%);
}

.navbar ul li .dot::after {
  height: 15px;
  width: 15px;
  border: 2px solid var(--clr-primary);
  right: 25px;
  transform: translateY(-50%) scale(0);
}

.navbar ul li .dot.active::before,
.navbar ul li:hover .dot::before {
  border-color: var(--clr-primary);
  background: var(--clr-primary);
}

.navbar ul li .dot.active::after,
.navbar ul li:hover .dot::after {
  transform: translateY(-50%) scale(1);
}

/* Navigation Alternate */
header {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--clr-bg);
  padding: 25px;
  text-align: center;
  z-index: 1000;
}

header nav a {
  padding: 10px 10px;
  color: var(--clr-primary);
  font-size: var(--fs-text-sm);
  font-family: var(--ff-heading);
}

header nav a:hover,
header nav a.active {
  font-weight: bold;
  text-decoration: underline;
}

@media (max-width: 768px) {
  header {
    display: block;
  }

  .navbar {
    display: none;
  }
}

/* Main Section */
.section {
  padding: 10% 15%;
  max-width: 900px;
}

.section:last-of-type {
  margin-bottom: 50px;
}

.heading-text {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: var(--fs-text-bg);
  white-space: nowrap;
}

.heading-text::after {
  content: "";
  display: block;
  position: relative;
  top: 0;
  width: 500px;
  height: 1px;
  margin-left: 20px;
  background-color: var(--clr-primary);
}

@media (max-width: 980px) {
  .section {
    padding: 5% 7%;
  }

  body,
  .navbar ul li .dot span,
  .heading-text {
    font-size: var(--fs-text-sm);
  }

  h2,
  span {
    font-size: var(--fs-heading-sm);
  }

  h1 {
    font-size: var(--fs-title-sm);
  }
}

/* Home Section */
.home {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  min-height: 100vh;
}

.intro-container {
  position: relative;
  bottom: 10vw;
}

/* About Me */
.about-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.about-container > * {
  flex: 1 1 50%;
}

.paragraph-container p {
  margin: 10px;
}

.contact-link {
  font-family: var(--ff-heading);
}

.contact-link:hover {
  font-weight: bold;
}

.my-image {
  display: block;
  height: auto;
  max-width: 300px;
  margin: 5vw auto 0;
  box-shadow: 0.5rem 0.5rem var(--clr-primary), -0.1rem -0.1rem var(--clr-primary);
}

.caption {
  font-family: var(--ff-heading);
  margin: 0;
}

/* Projects Section */
.project-num {
  display: flex;
  gap: 2em;
  margin-bottom: 20%;
}

.project-num:last-of-type {
  margin-bottom: 0;
}

.project-about {
  position: relative;
  display: block;
  max-width: 500px;
  margin: 0 auto;
}

.project-image {
  display: block;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0.5rem 0.5rem var(--clr-primary), -0.1rem -0.1rem var(--clr-primary);
}

.title-container {
  position: relative;
  display: block;
  width: fit-content;
  margin: 10px auto;
}

.title-container.talk {
  margin: 10px;
}

@media (max-width: 980px) {
  .project-num {
    flex-wrap: wrap-reverse;
  }

  .project-num.reverse {
    flex-wrap: wrap;
  }

  .project-visual {
    display: block;
    margin: 0 auto;
  }

  .project-image {
    max-width: 80%;
  }
}

.project-visual p {
  text-align: right;
}

.project-about-main p {
  text-align: center;
}

.project-about-links {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-about-links a {
  font-family: var(--ff-heading);
  margin: 0 20px;
}

.project-about-links a:hover {
  font-weight: bold;
}

/* Skills Section */
.skills-container {
  display: flex;
  justify-content: center;
}

.skills-with-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vw 7vw;
}

.skills-logo {
  max-width: 8vw;
}

.skills-title {
  text-align: center;
  margin-top: 0;
}

.skills-alt-container {
  display: none;
  max-width: fit-content;
  margin: 20px auto 0;
}

.skills-alt-container li h2 {
  margin: 0;
  font-size: var(--fs-text-sm);
}

.skills-ul {
  padding: 0;
}

@media (max-width: 980px) {
  .skills-alt-container {
    display: block;
  }

  .skills-title {
    display: none;
  }
}

/* Footer Section */
footer {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  min-height: 70px;
  padding: 15px;
  text-align: center;
}

.footer-links-container {
  display: none;
}

.footer-links-container ul {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.footer-links-container ul li a {
  padding: 10px;
}

.name-container {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading-sm);
}

.name-container a {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
}


/* Sidebars */
.socials-container {
  display: block;
  width: 40px;
  position: fixed;
  bottom: 0;
  left: 40px;
  right: auto;
  z-index: 10;
}

.socials {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.socials::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  background: var(--clr-primary);
}

.socials li {
  display: list-item;
}

.socials li a {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
}

.socials li a:hover {
  text-decoration: overline;
}

.email-big-container {
  display: block;
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
}

.email-container {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

.email-container::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background: var(--clr-primary);
}

.email-container a {
  font-size: 1rem;
  margin: 10px auto;
  padding: 5px;
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
}

@media (max-width: 980px) {
  .email-big-container,
  .socials-container {
    display: none;
  }

  .footer-links-container {
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 0px auto 10px;
  }
}

/* Typewriter Animation */
.type-in {
  opacity: 0;
}

.typewriter {
  opacity: 1;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid var(--clr-primary);
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  animation:
    typing 1.5s steps(20, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }

  50% {
    border-color: var(--clr-primary);
  }
}
