.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #00CED1;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: ghostwhite;
}

p {
  font-size: 2rem;
  color: ghostwhite;
  font-family: 'Indie Flower', cursive;
}

.instruction {
  color: black;
}

img {
  width: 80%;
}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
  padding-top: 50px;
  text-align: center;
}

.my-instructions {
  font-family: verdana;
  font-size: 100rem;
  color: aqua;
}
